<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="title">
        Composant menu
      </div>
    </div>
  </div>

  <div class="row intro">
    <div class="inf-intro-title">
      Branch-0001 - Mise en place d'un composant menu.
    </div>
    <div class="inf-intro-github">
      Lien github : <a href="https://github.com/worganic/WorganicTabV1" target="_blank">https://github.com/worganic/WorganicTabV1</a>
    </div>
    <div class="inf-intro-branch">
      Branch : https://github.com/worganic/WorganicTabV1/tree/branch-0001-Add-menu
    </div>
    <div class="inf-intro-github">
      Date : 2024-02-29
    </div>
  </div>





  <div class="row intro">
    <div class="col-12 title">
      Menu de base
    </div>
  </div>
  <div class="row">
    <div class="col-5 zone0">
      <p>Code de menu :</p>
      <textarea class='textareaCode' id="code" name="story" >
        <div class="ligne1" >
          <ul class="menu">
            <li [class.is-open]="isMenuOpen">
              <a class="menu-item" [class]="menuLigne2=='' ? 'menuActive1' : ''" routerLink="/" (click)="menu('')"> Home </a> -
             <!-- <a class="menu-item" routerLink="/divers/Presentation"> Présentation </a> --->
              <a class="menu-item" [class]="menuLigne2=='projets' ? 'menuActive1' : ''" (click)="menu('projets')"> Projets </a> -
              <a class="menu-item" [class]="menuLigne2=='tutos' ? 'menuActive1' : ''" (click)="menu('tutos')"> Tutos </a> -
              <a class="menu-item" [class]="menuLigne2=='abouts' ? 'menuActive1' : ''" routerLink="/divers/abouts" (click)="menu('abouts')"> Abouts </a> -
            </li>
          </ul>
        </div>
        <div class="ligne2">
          <div *ngIf="menuLigne2=='projets'">
            <a class="menu-item" [class]="menuLigne3=='tabUsers' ? 'menuActive' : ''" (click)="menu2('tabUsers')"  routerLink="/projets/worgtab/users"> Tab Users </a> -
            <a class="menu-item" [class]="menuLigne3=='multiple' ? 'menuActive' : ''" (click)="menu2('multiple')" routerLink="/projets/worgtab/multiple"> Tab Multiple </a>
          </div>
          <div *ngIf="menuLigne2=='tutos'">
            <a class="menu-item" [class]="menuLigne3=='st2' ? 'menuActive' : ''" (click)="menu2('st2')" routerLink="/tutos/st2"> St2-route </a> -
            <a class="menu-item" [class]="menuLigne3=='st3' ? 'menuActive' : ''" (click)="menu2('st3')" routerLink="/tutos/st3"> St3-Structure </a> -
            <a class="menu-item" [class]="menuLigne3=='st3' ? 'menuActive' : ''" (click)="menu2('st3')" routerLink="/tutos/st3"> St3-Structure </a> -
            <a class="menu-item" [class]="menuLigne3=='Design' ? 'menuActive' : ''" (click)="menu2('Design')" routerLink="/tutos/design"> Design </a> -
            <a class="menu-item" [class]="menuLigne3=='Injected' ? 'menuActive' : ''" (click)="menu2('Injected')" routerLink="/tutos/injected"> Injected </a> -
            <a class="menu-item" [class]="menuLigne3=='NgBootstrap' ? 'menuActive' : ''" (click)="menu2('NgBootstrap')" routerLink="/tutos/ngbootstrap"> NgBootstrap </a>
          </div>
          <div *ngIf="menuLigne2=='autres'">
            <a class="menu-item" [class]="menuLigne3=='Abouts' ? 'menuActive' : ''" (click)="menu2('Abouts')" routerLink="/autres/abouts"> Abouts </a> - 
            <a class="menu-item" [class]="menuLigne3=='Design' ? 'menuActive' : ''" (click)="menu2('Design')" routerLink="/error/alertes"> Design</a> 
          </div>
        </div>
      </textarea>
      <p class="path">src\app\app.component.html</p>

      <textarea class='textareaCode' id="code" name="story" >
           
/**
  * menu
  */
  menuLigne2: string = '';
  menu(section: string){
    console.log("AppComponent | menu / section : ", section);
    this.menuLigne2 = section;
  }

  menuLigne3: string = '';
  menu2(section: string){
    console.log("AppComponent | menu2 / section : ", section);
    this.menuLigne3 = section;
  }
      </textarea>
      <p class="path">src\app\app.component.ts</p>
    </div>
    <div class="col-7 zone1">
      <p>Ce menu est plutôt classique.
      Celà utilise (click) et [class] et *ngIf.</p>
      <ul>
        <li>(click) : Event binding - <a href="http://angular.io/guide/event-binding" target="_blank">http://angular.io/guide/event-binding</a></li>
        <li>[class] : Class and style binding - <a href="https://angular.io/guide/class-binding" target="_blank">https://angular.io/guide/class-binding</a></li>
        <li>*ngIf : DIRECTIVE - <a href="https://angular.io/api/common/NgIf" target="_blank">https://angular.io/api/common/NgIf</a></li>
      </ul>
      <p>La fichier ts contient les functions menu et menu1 pour récupéré le nom du menu cliqué.</p>
    </div>
  </div>

  <div class="row intro">
    <div class="col-12 title">
      Création du composant worgMenu
    </div>
  </div>
  <div class="row">
    <div class="col-5 zone0">
     
    </div>
    <div class="col-7 zone1">
      <p class="inf-explication">On crait les fichiers du nouveau composant menu</p>
      <ul>
        <li>worg-menu.component.html</li>
        <li>worg-menu.component.csss</li>
        <li>worg-menu.component.ts</li>
        <li>worg-menu.component.spec.ts</li>
      </ul>
    </div>
  </div>

  <div class="row intro">
    <div class="col-12 title">
      Déplacement des données de app.component.html vers worg-menu.component.html
    </div>
  </div>
  <div class="row">
    <div class="col-5 zone0">

      <p class="path">src\app\app.component.html</p>
      <p>vers</p>
      <p class="path">src\app\app.component.html</p>
    </div>
    <div class="col-7 zone1">
      <p class="inf-explication">Copie du code</p>
    </div>
  </div>

  <div class="row intro">
    <div class="col-12 title">
      Ajout du composant dans app.component.html
    </div>
  </div>
  <div class="row">
    <div class="col-5 zone0">
      <textarea class='textareaCode' id="code" name="story" >
        <app-worgMenu [menuListe]="menuListe"></app-worgMenu>
      </textarea>
      <p class="path">src\app\app.component.html</p>
      <textarea class='textareaCode' id="code" name="story" >
        import { WorgMenuComponent } from 'src/app/shared/component/worg-menu/worg-menu.component';
        ...
        Input() menuListe!: any;
      </textarea>
      <p class="path">src\app\app.component.ts</p>
    </div>
    <div class="col-7 zone1">
  
      <p class="inf-explication">On supprime l'ancien code et on, le remplace par le nouveau composant</p>
      <p class="inf-explication">On rajoute l'import et l'input pour récupéré le nouveau menu.</p>
      <p class="inf-explication">A ce moment là le menu doit être toujours visible.</p>

    </div>
  </div>

  <div class="row intro">
    <div class="col-12 title">
      On crait le nouveau menu dans le fichier fille :
    </div>
  </div>
  <div class="row">
    <div class="col-5 zone0">
      <textarea class='textareaCode' id="code" name="story" >
      
      </textarea>
      <p class="path">src\app\app.component.ts</p>
    </div>
    <div class="col-7 zone1">
      <p class="inf-path">src\app\shared\component\worg-menu\worg-menu.component.scss</p>
      <p class="inf-path">src\app\shared\component\worg-menu\worg-menu.component.ts</p>
      <p class="inf-explication">A partir de là, le menu est désormais directement dans le composant worg-menu. 
        Il faut maintenant créé le menu dans le composant enfant et l'envoyer au composant mère.
        PS: on n'oublis pas de faire les imports...  
      </p>
      <p class="inf-code">import  RouterOutlet, RouterLink  from '/@angular/router';</p>
  
    </div>
  </div>

  <div class="row intro">
    <div class="col-12 title">
      Je crait le menu dans le composant fille.
    </div>
  </div>
  <div class="row">
    <div class="col-5 zone0">
      aaa
    </div>
    <div class="col-7 zone1">
      <p class="inf-path">src\app\app.component.ts</p>
      <p class="inf-explication"></p>
      <p class="inf-code">this.menuListe ...</p>
    </div>
  </div>

  <div class="row intro">
    <div class="col-12 title">
      Je récupère le menu dans le composant mère.
    </div>
  </div>
  <div class="row">
    <div class="col-5 zone0">
      aaa
    </div>
    <div class="col-7 zone1">
      <p class="inf-path">src\app\shared\component\worg-menu\worg-menu.component.ts</p>
      <p class="inf-explication"></p>
      <p class="inf-code">Input() menuListe!: any[]; ...</p>
    </div>
  </div>

  <div class="row intro">
    <div class="col-12 title">
      Je tranforme le fichier html pour créé les boucles qui afficheront le menu.
    </div>
  </div>
  <div class="row">
    <div class="col-5 zone0">
      aaa
    </div>
    <div class="col-7 zone1">
      <p class="inf-path">src\app\shared\component\worg-menu\worg-menu.component.html</p>
      <p class="inf-explication">Je crait le menu 0 et le menu 1</p>
      <p class="inf-code">...li *ngFor="let item of menuListe | keyvalue">/li>...</p>
      
    </div>
  </div>
  
  <div class="row intro">
    <div class="col-12 title">
      Je met à jour le fichier ts pour la gestion des clicks.
    </div>
  </div>
  <div class="row">
    <div class="col-5 zone0">
      aaa
    </div>
    <div class="col-7 zone1">
      <p class="inf-path">src\app\shared\component\worg-menu\worg-menu.component.ts</p>
      <p class="inf-explication"></p>
      <p class="inf-code">...menu niveau 0...</p>
    </div>
  </div>
    
  <div class="row intro">
    <div class="col-12 title">
      La prochaine étape sera de mettre en place le niveau 3
    </div>
  </div>

      
  <div class="row intro">
    <div class="col-12 title">
      Je rajoute la function asIsOrder.
    </div>
  </div>
  <div class="row">
    <div class="col-5 zone0">
      aaa
    </div>
    <div class="col-7 zone1">
      <p class="inf-path">src\app\shared\component\worg-menu\worg-menu.component.ts</p>
      <p class="inf-explication">Afin de ne pas trié les menus par ordre croissant mais laissé le choix à l'utilisateur, j'ai rajouté cette function.</p>
      <p class="inf-code">...asIsOrder() ...</p>
      <p class="inf-path">src\app\shared\component\worg-menu\worg-menu.component.html</p>
      <p class="inf-code">...let item of menuListe | keyvalue: asIsOrder; let i=index...</p>
      <p class="inf-ressources"><a href="http://github.com/angular/angular/issues/42490" target="_blank">http://github.com/angular/angular/issues/42490</a></p>
    
    </div>
  </div>
</div>