<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="title">
        St2Component
      </div>
    </div>
  </div>
  <div class="row">
    V2 - Mise en place du routing et de la structure du projet.
  </div>
  <div class="row">
    Lien github : <a href="https://github.com/worganic/TutoTab-St2-route" target="_blank">https://github.com/worganic/TutoTab-St2-route</a>
  </div>
  <div class="row">
    git clone : https://github.com/worganic/TutoTab-St2-route.git
  </div>
</div>