.intro{

}
.inf-intro-title{
    font-weight: bold;
}
.inf-intro-github{
    
}
.inf-intro-branch{
    
}
.inf-intro-date{
    
}
.inf-title{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    list-style-type: circle;
}
.inf-path{
    font-size: 0.8em;
    margin-bottom: 0px;
    background-color: #d6d5d5;
    color:#000;
    width: auto;
}
.inf-explication{

}
.inf-code{
    font-size: 0.8em;
    background-color: #000;
    color:#fff;
}
.inf-ressources{
    font-size: 0.8em;
    background-color: #a9c0b0;
    color:#000;
    text-align: right;
}
.inf-ressources a{
    color:#000;
    
}