<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="title">
        St3Component
      </div>
    </div>
  </div>
  <div class="row">
    V3 - Mise en place de la structure des pages + environnement.
  </div>
  <div class="row">
    Lien github : <a href="https://github.com/worganic/TutoTab-St3-Structure" target="_blank">https://github.com/worganic/TutoTab-St3-Structure</a>
  </div>
  <div class="row">
    git clone : https://github.com/worganic/TutoTab-St3-Structure.git
  </div>
</div>