.niveau0 {
  font-size: 1em;
  height: 20px;
  font-weight: bold;
}

.niveau1 {
  font-size: 0.8em;
  text-align: left;
  height: 20px;
  color: #000;
}

.niveau1 a {
  text-decoration: none;
  color: #000;
}

.worgMenu {
  height: 0px;
  display: flex;
  /* Transformation en flexbox */
  padding: 0;
  /* Suppression des marges internes */
}

.worgMenu li {
  list-style-type: none;
}

.worgMenu .worgMenu-item {
  font-size: 15px;
  color: var(--header-menu-item-color);
  padding: 0px 15px;
  cursor: pointer;
  text-decoration: none;
}

.worgMenu .worgMenu-item a {
  color: #fff;
}

.menu-item a:hover {
  color: rgb(172, 211, 81);
}

.worgMenu .menuActive {
  font-weight: bold;
  color: #fff ;
}

.worgMenu .menuActive1 {
  font-weight: bold;
  color: #fff ;
}