<div class="niveau0">
  <ul class="worgMenu">
    <li *ngFor="let item of menuListe | keyvalue: asIsOrder; let i=index">
      <a class="worgMenu-item" *ngIf="typeOf(item.value) == 'string'" [class]="menuLigne0==item.key ? 'menuActive1' : ''"
        routerLink='{{ item.value }}' (click)="menu0(item.key)">{{ item.key }}</a>
      <a class="worgMenu-item" *ngIf="typeOf(item.value) == 'object'" [class]="menuLigne0==item.key ? 'menuActive1' : ''"
        (click)="menu0(item.key)">{{ item.key }}</a> -
    </li>
  </ul>
</div>
<div class="niveau1">
  <div *ngFor="let item of menuListe | keyvalue: asIsOrder; let i=index">
    <div *ngIf="typeOf(item.value) == 'object'">
      <div *ngIf="menuLigne0==item.key">
        <ul class="worgMenu">
          <li *ngFor="let item0 of $any(item).value | keyvalue: asIsOrder; let i=index">
            <a class="worgMenu-item" *ngIf="typeOf(item0.value) == 'string'"
              [class]="menuLigne1==item0.key ? 'menuActive1' : ''" routerLink='{{ item0.value }}'
              (click)="menu1(item0.key)">{{ item0.key }}</a>
            <a class="worgMenu-item" *ngIf="typeOf(item0.value) == 'object'"
              [class]="menuLigne1==item0.key ? 'menuActive1' : ''" (click)="menu1(item0.key)">{{ item0.key }}</a> -
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="niveau2">
  <div *ngFor="let item of menuListe | keyvalue: asIsOrder; let i=index">
    <div *ngIf="typeOf(item.value) == 'object'">
      <div *ngFor="let item0 of $any(item).value | keyvalue: asIsOrder; let i=index">
        <div *ngIf="typeOf(item0.value) == 'object'">
          <div *ngIf="menuLigne1==item0.key">
            <ul class="worgMenu">
              <li *ngFor="let item1 of $any(item0).value | keyvalue: asIsOrder; let i=index">
                <a class="worgMenu-item" *ngIf="typeOf(item1.value) == 'string'"
                  [class]="menuLigne2==item1.key ? 'menuActive1' : ''" routerLink='{{ item1.value }}'
                  (click)="menu2(item1.key)">{{ item1.key }}</a>
                <a class="worgMenu-item" *ngIf="typeOf(item1.value) == 'object'"
                  [class]="menuLigne2==item1.key ? 'menuActive1' : ''" 
                  (click)="menu2(item1.key)">{{ item1.key }}</a>
                -
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>