<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="title">
        Composant tab (array)
      </div>
    </div>
  </div>

  <div class="row intro">
    <div class="inf-intro-title">
      Main - Mise en place d'un composant array (tab).
    </div>
    <div class="inf-intro-github">
      Lien github : <a href="https://github.com/worganic/WorganicTabV1" target="_blank">https://github.com/worganic/WorganicTabV1</a>
    </div>
    <div class="inf-intro-branch">
      Branch : https://github.com/worganic/WorganicTabV1/tree/main
    </div>
    <div class="inf-intro-github">
      Date : 2024-02-29
    </div>
  </div>

  <div class="row intro">
    <div class="col-12 title">
      Création du composant worgTab
    </div>
  </div>
  <div class="row">
    <div class="col-5 zone0">
      
    </div>
    <div class="col-7 zone1">
      <p class="inf-explication">Branch : Main.</p>
    </div>
  </div>

</div>