<div class="container-app">
    <header>
      <div class="center" >
        <app-worgMenu [menuListe]="menuListe1"></app-worgMenu>
      </div>


      <div class="theme-switcher">
        <label class="switch">
          <input
              type="checkbox"
              [checked]="isLightTheme"
              (change)="onThemeSwitchChange()"
          />
          <span class="slider round"></span>
        </label>
      </div>


    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
</div>
<div class="footer">@Copyright {{ annee }} | {{ version }} | {{ mail }} | <a href="{{ github }}" target="_blank">gitHub</a></div>