<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="title">
        Création d'un composant menu
      </div>
    </div>
  </div>
  <div class="row">
    Branch-0002 - Mise en place des signals.
  </div>
  <div class="row">
    Lien github : <a href="https://github.com/worganic/WorganicTabV1" target="_blank">https://github.com/worganic/WorganicTabV1</a>
  </div>
  <div class="row">
    Branch : https://github.com/worganic/WorganicTabV1/tree/branch-0002-Add-menu
  </div>
  <div class="row">
    Date : 2024-02-29
  </div>
  <div class="row">

    <p class="inf-title"></p>
    <p class="inf-path">src\app\shared\component\worg-</p>
    <p class="inf-explication"></p>
    <p class="inf-code"></p>



    <p class="inf-sources"><a href="https://www.youtube.com/watch?v=Nkx569aAQg0" target="_blank">https://www.youtube.com/watch?v=Nkx569aAQg0</a></p>
    
  </div>
</div>