.inf-title{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}
.inf-path{
    font-size: 0.8em;
    margin-bottom: 0px;
    background-color: #d6d5d5;
    color:#000;
}
.inf-explication{

}
.inf-code{
    font-size: 0.8em;
    background-color: #000;
    color:#fff
}